<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    </head>
    <body>

        <section id="header"></section><!-- aysel-->
        <section></section><!-- aysel-->
        <section id="about"></section><!-- aysel-->
        <section id="footer"></section><!-- aysel-->
        
        <script src="assets/js/jquery-3.1.0.js"></script>
        <script src="assets/bootstrap/js/bootstrap.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>