<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/awesome/css/font-awesome.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
    </head>
    <body>
        <section id='header'><!-- aysel -->
        <!-- <div class = 'container-fluid'> -->
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-md-6'>
                    <div class = 'row1_left'>
                        <img src="images/logo.png">
                    </div>
                </div>
                <div class = 'col-md-6'>
                    <div class = 'row1_right'>
                        <p>
                            xxx@xxx.com
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </p>
                        <p>
                            1234567890
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div class = 'mn'>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand dsp" href="#">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a class = 'active red' href="index.html">Home</a></li>
                            <li><a class ='yellow' href="aboutUs.html">About Us</a></li>
                            <li><a class ='green' href="portfolio.html">Portfolio</a></li>
                            <li><a class ='blue' href="services.html">Services</a></li>
                            <li><a class ='pink' href="contactUs.html">Contact us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class ='blue' href="https://www.facebook.com"><i class="fa  fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a class ='red' href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a class ='yellow' href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a class ='green' href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section id="slider" class="col-md-12 col-xs-12 col-sm-12" style="position: relative;top:50px;">
        <div class="row">
            <!-- Frame3 -->
            <img src="assets/images/slider/bg3.jpg" class="bg3 img img-responsive frame3">
            <img src="assets/images/slider/aplus.png" class="a img img-responsive frame3">
            <img src="assets/images/slider/swirl-3.png" class="swirl3 img img-responsive frame3">
            <img src="assets/images/slider/swirl-2.png" class="swirl2 img img-responsive frame3">
            <img src="assets/images/slider/cap.png" class="cap img img-responsive frame3">
            <img src="assets/images/slider/apple.png" class="apple img img-responsive frame3">
            <img src="assets/images/slider/swirl-4.png" class="swirl4 img img-responsive frame3">
            <img src="assets/images/slider/common-swirl.png" class="cs img img-responsive frame3">
            <img src="assets/images/slider/boom.png" class="boom img img-responsive frame3">
            <img src="assets/images/slider/awesome-gallery.png" class="ag img img-responsive frame3">
            <img src="assets/images/slider/parallax-bg.png" class="parallax img img-responsive frame3">
            <img src="assets/images/slider/creative-design.png" class="cd img img-responsive frame3">
            <img src="assets/images/slider/mega-menu.png" class="mm img img-responsive frame3">
            <img src="assets/images/slider/common-swirl.png" class="cs2 img img-responsive frame3">
            <img src="assets/images/slider/common-swirl.png" class="cs3 img img-responsive frame3">
            <img src="assets/images/slider/common-swirl.png" class="cs4 img img-responsive frame3">
            <img src="assets/images/slider/star-2.png" class="star img img-responsive frame3">
            <img src="assets/images/slider/common-star.png" class="csa1 img img-responsive frame3">
            <img src="assets/images/slider/common-star.png" class="csa2 img img-responsive frame3">
            <img src="assets/images/slider/common-star.png" class="csa3 img img-responsive frame3">
            <img src="assets/images/slider/common-star.png" class="csa4 img img-responsive frame3">
            <!-- Frame2 -->
            <img src="assets/images/slider/bg2.jpg" class="bg img img-reponsove frame2">
            <img src="assets/images/slider/school-kid.png" class="schoolKid img img-responsive frame2">
            <img src="assets/images/slider/school-kid.png" class="schoolKid img img-responsive frame2">
            <img src="assets/images/slider/b-bulb.png" class="bulb img img-responsive frame2">
            <img src="assets/images/slider/b-cloud.png" class="cloud img img-responsive frame2">
            <img src="assets/images/slider/b-comment.png" class="comment img img-responsive frame2">
            <img src="assets/images/slider/b-glass.png" class="glass img img-responsive frame2">
            <img src="assets/images/slider/b-game.png" class="game img img-responsive frame2">
            <img src="assets/images/slider/of8EGABW7A6NGNk7CwAAAABJRU5ErkJggg==.png" class="cloud2 img img-responsive frame2">
            <img src="assets/images/slider/purchase-theme.png" class="purchase img img-responsive frame2">
            <img src="assets/images/slider/text-desc.png" class="textDesc img img-responsive frame2">
            <img src="assets/images/slider/welcome-text.png" class="welcome img img-responsive frame2">
            <img src="assets/images/slider/chalk-effect.png" class="chalk img img-responsive frame2">
            <!-- Frame1 -->
            <img src="assets/images/slider/bg.jpg" class="bg img img-reponsove frame1">
            <img src="assets/images/slider/girl1.png" class="girl1 img img-responsive child frame1">
            <img src="assets/images/slider/girl2.png" class="girl2 img img-responsive child frame1">
            <img src="assets/images/slider/boy1.png" class="boy1 img img-responsive child frame1">
            <img src="assets/images/slider/bring.png" class="bring tekst img img-responsive frame1">
            <img src="assets/images/slider/fun.png" class="fun tekst img img-responsive frame1">
            <img src="assets/images/slider/two.png" class="two tekst img img-responsive frame1">
            <img src="assets/images/slider/life.png" class="life tekst img img-responsive frame1">
            <img src="assets/images/slider/cup-divider.png" class="cup tekst img img-responsive frame1">
            <img src="assets/images/slider/trendy.png" class="trendy tekst img img-responsive frame1">
            <img src="assets/images/slider/boy3.png" class="boy2 child img img-responsive frame1">
            <img src="assets/images/slider/boy2.png" class="boy3 child img img-responsive frame1">
            <img src="assets/images/slider/grass.png" class="grass img img-responsive frame1">
            <div class="circleSet col-md-12">
                <div class="circle first"></div>
                <div class="circle second space"></div>
                <div class="circle third space"></div>
            </div>
        </div>
        </section><!-- murad -->
        <section id="primary" class="col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="img">
                            <img src="assets/images/service1.jpg" alt="">
                            <div class="circle"></div>
                            <i class="fa fa-link"></i>
                        </div>
                        <h4>Active Learning</h4>
                        <p>Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="img">
                            <img src="assets/images/service2.jpg" alt="">
                            <div class="circle"></div>
                            <i class="fa fa-link"></i>
                        </div>
                        <h4>Music Class</h4>
                        <p>Decor ostdcaer urabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="img">
                            <img src="assets/images/service3.jpg" alt="">
                            <div class="circle"></div>
                            <i class="fa fa-link"></i>
                        </div>
                        <h4>Yoga Class</h4>
                        <p>Rabitur ultrices posuere mattis. Nam ullamcorper, diam sit euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl gedretu osterftra ligula</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="img">
                            <img src="assets/images/service4.jpg" alt="">
                            <div class="circle"></div>
                            <i class="fa fa-link"></i>
                        </div>
                        <h4>Kung fu Class</h4>
                        <p>Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="slider2" class="col-md-12 col-xs-12 col-sm-12">
            <div class="container">
                <div class="col-md-6">
                    <div class="row">
                        <h2>Play As You Learn</h2>
                        <div class="col-md-6">
                            <div class="row">
                                <ul>
                                    <li>
                                        <i class="fa fa-glass"></i>
                                        <p class="heading">English Summer Camp</p>
                                        <p class="text">Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-pencil"></i>
                                        <p class="heading">Drawing & Painting</p>
                                        <p class="text">Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bullseye"></i>
                                        <p class="heading">Swimming Camp</p>
                                        <p class="text">Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <ul>
                                    <li>
                                        <i class="fa fa-tachometer"></i>
                                        <p class="heading">Sports Camp</p>
                                        <p class="text">Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-magic"></i>
                                        <p class="heading">Personalizing</p>
                                        <p class="text">Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-music"></i>
                                        <p class="heading">Sing & Dance</p>
                                        <p class="text">Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h2>With Music4Kids, Music Is Child's Play!</h2>
                        
                        <div class="tablet">
                            <img src="assets/images/add1.jpg" class="img img-responsive">
                        </div>
                        <div class="circleSet text-center">
                            <div class="circle circle1"></div>
                            <div class="circle circle2"></div>
                            <div class="circle circle3"></div>
                        </div>
                    </div>
                </div>
            </div>
            </section><!-- murad -->
            <section id="portfolio" class="col-md-12 col-xs-12 col-sm-12">
                <div class="container text-center">
                    <h2>Our Portfolio</h2>
                    <img src="assets/images/gt.png" alt="">
                    <!-- HECTAGONS+++++++++++++++++++++++++++================ -->
                    <div class="hexa text-center">
                        <div class="row">
                            <div class="firstCol">
                                <div class="hexagon one">
                                    <img src="assets/images/img2.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                                <div class="hexagon two">
                                    <img src="assets/images/img4.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                            </div>
                            <div class="secondCol">
                                <div class="hexagon three">
                                    <img src="assets/images/img1.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                                <div class="hexagon four">
                                    <img src="assets/images/img5.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                                <div class="hexagon five">
                                    <img src="assets/images/img7.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                            </div>
                            <div class="thirdCol">
                                <div class="hexagon six">
                                    <img src="assets/images/img3.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                                <div class="hexagon seven">
                                    <img src="assets/images/img6.jpg" class="img img-responsive">
                                    <i class="fa fa-link"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button>Hit here to view all <i class="glyphicon glyphicon-chevron-right"></i></button>
                    </div>
                </div>
                </section><!-- murad -->
                <section id="blog" class="col-md-12 col-xs-12 col-sm-12">
                    <div class="container text-center">
                        <h2>Recent Blog</h2>
                        <img src="assets/images/gt3.png" class="line">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="data col-md-3 col-sm-3 col-xs-3 text-center">
                                    <img src="assets/images/service1.jpg" alt="">
                                    <div class="date">
                                        <span>27</span>
                                        <p>Aug <br> 2014</p>
                                    </div>
                                    <div class="comments date">
                                        <span>12</span>
                                        <p><i class="fa fa-comment"></i></p>
                                    </div>
                                    <div class="image date">
                                        <i class="fa fa-image"></i>
                                    </div>
                                </div>
                                <div class="textAndPhoto col-md-9 text-left col-sm-9 col-xs-9">
                                    <div class="row">
                                        <img src="assets/images/blog_img1.jpg" class="img img-responsive">
                                        <a href="#"><h3><b>Activities Improves Mind</b></h3></a>
                                        <p>Roin bibendum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accums.</p>
                                        <button>Read More <i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="data col-md-3 col-sm-3 col-xs-3 text-center">
                                    <img src="assets/images/service1.jpg" alt="">
                                    <div class="date">
                                        <span>27</span>
                                        <p>Aug <br> 2014</p>
                                    </div>
                                    <div class="comments date">
                                        <span>12</span>
                                        <p><i class="fa fa-comment"></i></p>
                                    </div>
                                    <div class="image date">
                                        <i class="fa fa-image"></i>
                                    </div>
                                </div>
                                <div class="textAndPhoto col-md-9 text-left col-sm-9 col-xs-9">
                                    <div class="row">
                                        <img src="assets/images/blog_img2.jpg" class="img img-responsive">
                                        <a href="#"><h3><b>Weekly Reader Zone</b></h3></a>
                                        <p>Iid venenatis nibh accums. Doinbibe ndum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accumsan...</p>
                                        <button>Read More <i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </section><!-- murad -->
                    <section id="staffs" class="col-md-12 col-xs-12 col-sm-12">
                        <div class="container text-center">
                            <h2>Our Staffs</h2>
                            <img src="assets/images/gt.png" class="line">
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <img src="assets/images/team1.jpg" alt="">
                                <h4>Jack Daniels</h4>
                                <span>Senior Supervisor</span>
                                <p>Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.</p>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <img src="assets/images/team2.jpg" alt="">
                                <h4>Linda Glendell</h4>
                                <span>Teaching Professor</span>
                                <p>Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.</p>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <img src="assets/images/team3.jpg" alt="">
                                <h4>Kate Dennings</h4>
                                <span>Children Diet</span>
                                <p>Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.</p>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12">
                                <img src="assets/images/team4.jpg" alt="">
                                <h4>Kristof Slinghot</h4>
                                <span>Management</span>
                                <p>Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.</p>
                            </div>
                        </div>
                        </section><!-- murad -->
                        <section id="products" class="col-md-12 col-xs-12 col-sm-12">
                            <div class="container text-center">
                                <h2>Recent Products</h2>
                                <img src="assets/images/gt2.png" class="line">
                                <!-- PRODUCTS+++++++++++++++=====================  -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="margin">
                                        <div class="row">
                                            <img src="assets/images/p1.jpg" class="product">
                                            <div class="hover"></div>
                                            <button>Add to cart</button>
                                            <div class="desc col-md-12 col-xs-12 col-sm-12">
                                                <h5 class="name pull-left">Ellents Style Grade</h5>
                                                <h5 class="price pull-right">$20.00</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="margin">
                                        <div class="row">
                                            <img src="assets/images/p2.jpg" class="product">
                                            <div class="hover"></div>
                                            <button>Add to cart</button>
                                            <div class="desc col-md-12 col-xs-12 col-sm-12">
                                                <h5 class="name pull-left">Ellents Style Grade</h5>
                                                <h5 class="price pull-right">$20.00</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="margin">
                                        <div class="row">
                                            <img src="assets/images/p3.jpg" class="product">
                                            <div class="hover"></div>
                                            <button>Add to cart</button>
                                            <div class="desc col-md-12 col-xs-12 col-sm-12">
                                                <h5 class="name pull-left">Ellents Style Grade</h5>
                                                <h5 class="price pull-right">$20.00</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="margin">
                                        <div class="row">
                                            <img src="assets/images/p4.jpg" class="product">
                                            <div class="hover"></div>
                                            <button>Add to cart</button>
                                            <div class="desc col-md-12 col-xs-12 col-sm-12">
                                                <h5 class="name pull-left">Ellents Style Grade</h5>
                                                <h5 class="price pull-right">$20.00</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </section><!-- murad -->
                            <img src="assets/images/top.png" title="Go To Top" class="top">
                            <section id="about">
                                <div class = 'container-fluid'>
                                    <div class = 'row'>
                                        <div class = 'col-md-12'>
                                            <div class = 'image_wrapper'>
                                                <img src="images/footer_top_bg.png"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = 'container'>
                                    <div class = 'row brd'>
                                        <div class = 'col-md-4'>
                                            <div class = 'col_wrapper'>
                                                <h2>Autist usaqlar haqqinda</h2>
                                                <img src="images/green_sketch.png">
                                                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <div class = 'col-md-4'>
                                            <div class = 'col_wrapper'>
                                                <h2>Son elave olunan serhler</h2>
                                                <img src="images/yellow_sketch.png">
                                                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                        <div class = 'col-md-4'>
                                            <div class = 'col_wrapper'>
                                                <h2>Kontakt</h2>
                                                <img src="images/red_sketch.png">
                                                <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet</p>
                                                <h3>We are social</h3>
                                                <div class = 'social'>
                                                    <input type="text" name="">
                                                    <button>Subscribe</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </section><!-- aysel -->
                                <section id="footer">
                                    <div class = 'container'>
                                        <div class = 'row marginTop wdt'>
                                            <div class = 'col-md-6'>
                                                <p>© 2014 Kids Life. All rights reserved. </p>
                                            </div>
                                            <div class = 'col-md-6'>
                                                <!-- <p>Follow Us</p> -->
                                                <div class = 'follow'>
                                                    <ul>
                                                        <li><p>Follow Us</p></li>
                                                        <li><a class = 'one' href="https://www.facebook.com"><i class="fa  fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a class = 'two' href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a class = 'three' href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                                        <li><a class = 'four' href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </section><!-- aysel -->
                                    
                                    <script src="assets/js/jquery-3.1.0.js"></script>
                                    <script src="assets/bootstrap/js/bootstrap.js"></script>
                                    <script src="assets/js/main.js"></script>
                                    <script src="assets/js/slider.js"></script>
                                </body>
                            </html>
                            <script src="assets/js/main.js"></script>